---
---

@import "{{ site.theme }}";

.page-header {
  // background-image: linear-gradient(-90deg, #9600B8, #2AFEFE);
  background: linear-gradient(-61deg, #9A0090, #2AFEE6);
  background-size: 300% 300%;

  -webkit-animation: AnimationName 13s ease infinite;
  -moz-animation: AnimationName 13s ease infinite;
  -o-animation: AnimationName 13s ease infinite;
  animation: AnimationName 13s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:0% 65%}
      50%{background-position:100% 36%}
      100%{background-position:0% 65%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 65%}
      50%{background-position:100% 36%}
      100%{background-position:0% 65%}
  }
  @-o-keyframes AnimationName {
      0%{background-position:0% 65%}
      50%{background-position:100% 36%}
      100%{background-position:0% 65%}
  }
  @keyframes AnimationName { 
      0%{background-position:0% 65%}
      50%{background-position:100% 36%}
      100%{background-position:0% 65%}
  }
 }

.header-link { 
  color: #ffffff; 
  text-decoration: none; 
}

.header-link:hover { 
  text-decoration: none; 
}

.post-meta {
  color: #819198;
}

.meta-post-header .meta-post-footer {
  padding: 1.5rem 3rem;
}
